<log4net>
  <appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
    <file value="c:\webapps\log4sample\logs\log4sample.log" />
    <appendToFile value="true" />
    <rollingStyle value="Composite" />
    <maxSizeRollBackups value="30" />
    <maximumFileSize value="10240kb"/>
    <staticLogFileName value="true" />
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%d [%t] %-5p %c - %m%n" />
    </layout>
  </appender>
  <appender name="RollingFileForErrors" type="log4net.Appender.RollingFileAppender">
    <filter type="log4net.Filter.LevelRangeFilter">
      <param name="LevelMin" value="ERROR"/>
      <param name="LevelMax" value="FATAL"/>
    </filter>
    <file value="c:\webapps\log4sample\logs\error\log4sampleerrors.log" />
    <appendToFile value="true"/>
    <rollingStyle value="Composite"/>
    <maxSizeRollBackups value="30"/>
    <maximumFileSize value="10240kb"/>
    <staticLogFileName value="true"/>
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%d [%t] %-5p %c - %m%n" />
    </layout>
  </appender>
  <root>
    <level value="ALL" />
    <appender-ref ref="RollingFile"/>
    <appender-ref ref="RollingFileForErrors"/>
  </root>
  <logger name="LogDebug" additivity="false">
    <level value="ALL" />
    <appender-ref ref="RollingFile"/>
  </logger>
  <logger name="LogError" additivity="false">
    <filter type="log4net.Filter.LevelRangeFilter">
      <levelMin value="ERROR" />
      <levelMax value="FATAL" />
    </filter>
    <appender-ref ref="RollingFileForErrors"/>
  </logger>
</log4net>